/*{
  margin: 50px;
  padding: 0;
  box-sizing: border-box;
}

*body{
  background-color: aliceblue;
}

a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

*.container{
  padding-left: 5%;
  padding-right: 0%;
}